<!DOCTYPE html>
<html>
  <head>
    <title>hmm</title>
    <link rel='stylesheet' href='/css/app-186f79df.css' />
  </head>
  <body>

    <div class="content">
      <%- include(page); -%>
    </div>
  
    <script type="text/javascript" src="/js/app-7d825e1d.js"></script>
  </body>
</html>
